/* reset */
body,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,fieldset,legend,input,textarea,select{margin:0;padding:0;box-sizing: border-box;} 
body{    font-family: 'Helvetica Neue',Helvetica,Verdana,Arial,'Microsoft Yahei',SimSun,SimHei,sans-serif;font-size:14px;background:#fff;-webkit-text-size-adjust:100%;} 
a{color:#2d374b;text-decoration:none} 
em{font-style:normal} 
li{list-style:none} 
img{border:0;vertical-align:middle} 
table{border-collapse:collapse;border-spacing:0} 
p{word-wrap:break-word}
.data1001_maxbox{
    display: block;
    padding: 0.1rem;
    margin: auto;
    height: 100%;
    background: #ccc;
    padding: 50px 15px 50px 18px;
}
.data1001_content{
    display: block;
    width: 810px;
    margin: auto
}
.data1001_back{

    display: block;
    width: 120px;
    height: 50px;
    font: 20px 'Microsoft Yahei';
    line-height: 50px;
    border: 1px solid palegreen;
    border-radius: 8px;
}
.data1001back_div{
    float: left;
    width: 130px;
    height: 50px;
    text-align: center;
    line-height: 50px;
}
.data1001UserName_div{
    float: left;
    width: 200px;
    height: 50px;
    line-height: 50px;
    text-align: center;
}
.data1001ActiveName_div{
    float: left;
    width: 480px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    
}
.data1001_list{
    display: block;
    width: 810px;
    height: 500px;}
.data1001_id,.data1001_names,.data1001_phone,.data1001_qiye,.data1001_work{
   float: left;  
}
.data1001_id{
    width: 80px;
}
.data1001_names{
    width:100px;
}
.data1001_phone{
    width:100px;
}
.data1001_qiye{
    width:100px;
}
.data1001_work{
    width:100px;
}